# Build directories
/build/
/bin/
/out/

# Object files and compiled binaries
*.o
*.obj
*.so
*.dll
*.dylib
*.exe
*.out
/library 
/game
/Debug
/x64
# IDE / editor files
.vscode/
.vs
.idea/
*.suo
*.user
*.userosscache
*.sln
*.vcxproj*
*.DS_Store

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Temporary files
*.log
*.tmp
*.swp